
<%#= @syllabizer%>
<h1><%#= @splitwords%><br><br></h1>
<h1><%#= @syllabizer%><br><br></h1>
<h1><%#= @randomizer.count%><br><br></h1>
<h1><%#= @randomizer%><br><br></h1>

<%@five_sentence.first.each do |word|%>
<%= word %>
<%end %>
<%=@seven_sentence%><br>
<%=@five_sentence.second%><br>
