
<%#= @syllabizer%>
<h1><%#= @splitwords%><br><br></h1>
<h1><%#= @syllabizer%><br><br></h1>
<h1><%#= @randomizer.count%><br><br></h1>
<h1><%#= @randomizer%><br><br></h1>

<%@five_sentence.first.each do |word|%>
<%= word %>
<%end %>
<%=@seven_sentence%><br>
<%=@five_sentence.second%><br>
<% @mean_tweets.each do |tweet| %>
  <%= tweet%><br><br>
<% end %><br><br>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <title>#Haiku</title>
  </head>
  <body>

    <div class="container">
      <img src="images/logo.png" id="logoImage">
      <div class="inputContainer">
        <input type="text" value="@yourtwitter">
        <input type="button" value="CREATE HAIKU">
      </div>

    </div>

  </body>
</html>
>>>>>>> d24ff9dc46b60c662d0e09373b80177908764d3e
