/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */

* {
  padding: 0;
  margin: 0;
  font-family: "Droid Serif",sans-serif;
}

html {
  background: #ffffff url("../images/background.jpg") no-repeat center center fixed;
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  position: absolute;
}

.container {
  padding: 10%;
}

.haikuContainer {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255,255,255,.7);
  padding: 2em;
}

.haikuContainer p {
  font-size: 2em;
}

.haikuContainer h4 {
  margin-top: 3em;
  text-align: right;
}

.haikuContainer input {
  float: right;
  margin-top: 5em;
  margin-left: 2em;
}

#logoImage {
  margin: 0 auto;
  margin-bottom: 5em;
  display: block;
  clear: both;
  max-width: 90%;
}

.inputContainer {
  display: block;
  clear: both;
  text-align: center;
  min-width: 70%;
}

input[type=text] {
  padding: 1em;
}

input[type=button] {
  padding: 1em;
  background-color: #D6C600;
  border: 1px solid #C1B300;
  color: white;
  font-weight: bold;
}
