<DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <title>#Haiku</title>
  </head>
  <body>

    <div class="container">
      <div class="haikuContainer">
        <p>
          old pond...<br>
          a frog leaps in<br>
          water's sound </p>

        <h4>@yourname</h4>
        <input type="button" value="Retweet">
        <input type="button" value="Go Back">
      </div>

    </div>

  </div>

</body>
</html>
